<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row">
						
						<!-- Tweets -->
							<section class="4u">
								<header>
									<h2 class="fa fa-twitter circled solo"><span>Tweets</span></h2>
								</header>
								<ul class="divided">
									<li>
										<article class="tweet">
											<a class="twitter-timeline" href="https://twitter.com/CodersandCoffee" data-widget-id="479246725903699968">Tweets by @CodersandCoffee</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
										</article>
									</li>
								</ul>
							</section>

						<!-- Posts -->
							<section class="4u">
								<header>
									<h2 class="fa fa-file circled solo"><span>Posts</span></h2>
								</header>
								<ul class="divided">
                  {% for post in site.posts limit:3 %}
									<li>
										<article class="post stub">
											<header>
												<h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
											</header>
											<span class="timestamp">{{ post.date | date: "%b %-d, %Y" }}</span>
										</article>
									</li>
								{% endfor %}
								</ul>
							</section>

						<!-- Photos -->
							<section class="4u">
								<header>
									<h2 class="fa fa-camera circled solo"><span>Photos</span></h2>
								</header>
								<div class="row quarter no-collapse">
									<div class="6u">
										<a href="" class="image full"><img src="http://blog.dacamden.co.uk/images/abi.JPG" alt="" /></a>
									</div>
									<div class="6u">
										<a href="" class="image full"><img src="http://blog.dacamden.co.uk/images/henri.jpg" alt="" /></a>
									</div>
								</div>
								<div class="row quarter no-collapse">
									<div class="6u">
										<a href="" class="image full"><img src="http://blog.dacamden.co.uk/images/leo.JPG" alt="" /></a>
									</div>
									<div class="6u">
										<a href="" class="image full"><img src="http://blog.dacamden.co.uk/images/theo.jpg" alt="" /></a>
									</div>
								</div>
							</section>

					</div>
					<hr />
					<div class="row">
						<div class="12u">
							
							<!-- Contact -->
								<section class="contact">
									<header>
										<h3>get in touch!</h3>
									</header>
									<p>Find us on the networks below</p>
									<ul class="icons">
										<li><a href="https://twitter.com/Founders_coders" class="fa fa-twitter solo"><span>Twitter</span></a></li>
										<li><a href="#" class="fa fa-facebook solo"><span>Facebook</span></a></li>
										<li><a href="https://plus.google.com/stream/circles/p1b8b9bf80be9c324" class="fa fa-google-plus solo"><span>Google+</span></a></li>
                    <li><a href="https://github.com/dacamden" class="fa fa-github solo"><span>GitHub</span></a></li>
										<li><a href="#" class="fa fa-linkedin solo"><span>Linkedin</span></a></li>
									</ul>
								</section>
							
							<!-- Copyright -->
								<div class="copyright">
									<ul class="menu">
										<li>&copy; Digital Alchemy</li>
										<li>Design: Digital Alchemy</a></li>
									</ul>
								</div>
							
						</div>
					
					</div>
				</div>
			</div>

	</body>
</html>